@model Eproject.Models.MenuItem
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <div class="cat-menu-section">
        <div class="cat-pricing-list">
            <span class="cat-pri-icon">
                <img src="/Images/@Model.imagePath" alt="Image">
            </span>
            <div class="cat-price-info">
                <div class="cat-pricing-title">
                    <h4>@Model.ItemName</h4>
                    <span class="cat-price">$@Model.Price</span>
                </div>
                <p>@Model.Des</p>
            </div>
        </div>
    </div>
</div>
