@model Eproject.Models.Category
<li class="nav-item" role="presentation">
    <a class="nav-link @(Model.CategoryId == (int)ViewData["selectedCategoryId"] ? "active" : "")"
       data-bs-toggle="pill"
       data-bs-target="#pills-@Model.CategoryId"
       role="tab"
       aria-controls="pills-@Model.CategoryId"
       aria-selected="@(Model.CategoryId == (int)ViewData["selectedCategoryId"] ? "true" : "false")">
        @Model.CategoryName
    </a>
</li>

