@model Eproject.Models.Category
<li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-@Model.CategoryId-tab" 
            data-bs-toggle="pill" 
            data-bs-target="#pills-@Model.CategoryId" 
            type="button" role="tab" 
            aria-controls="pills-@Model.CategoryId" 
            aria-selected="false">
        @Model.CategoryName
    </button>
</li>
