<div class="cat-main-wrapper">

    <!-- Page Title Section -->
    <section class="cat-page-title-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="cat-page-title">
                        <h1>Events</h1>
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                Events
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Events -->
    <section class="cat-event-wrapper cat-section-spacer">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs">
                            <div class="cat-filter-menu">
                                <button class="filter" data-filter="all">All Events</button>
                                <button class="filter" data-filter=".wedding">Wedding</button>
                                <button class="filter" data-filter=".corporate">Corporate</button>
                                <button class="filter" data-filter=".cocktail">Cocktail</button>
                                <button class="filter" data-filter=".buffet">Buffet</button>
                            </div>
                        </div>
                    </div>
                    <div class="cat-filter">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mix wedding">
                                <div class="cat-porfolio-section">
                                    <img src="https://dummyimage.com/600x600/787878/666" alt="">
                                    <div class="cat-overlay">
                                        <a class="popup-gallery" href="https://dummyimage.com/600x600/787878/666" title=""><span class="fa fa-search-plus" aria-hidden="true"></span></a>
                                        <div class="cat-overlay-text">
                                            <h4>Wedding</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mix corporate">
                                <div class="cat-porfolio-section">
                                    <img src="https://dummyimage.com/600x600/787878/666" alt="">
                                    <div class="cat-overlay">
                                        <a class="popup-gallery" href="https://dummyimage.com/600x600/787878/666" title=""><span class="fa fa-search-plus" aria-hidden="true"></span></a>
                                        <div class="cat-overlay-text">
                                            <h4>Corporate</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mix wedding">
                                <div class="cat-porfolio-section">
                                    <img src="https://dummyimage.com/600x600/787878/666" alt="">
                                    <div class="cat-overlay">
                                        <a class="popup-gallery" href="https://dummyimage.com/600x600/787878/666" title=""><span class="fa fa-search-plus" aria-hidden="true"></span></a>
                                        <div class="cat-overlay-text">
                                            <h4>Wedding</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mix wedding corporate cocktail">
                                <div class="cat-porfolio-section">
                                    <img src="https://dummyimage.com/600x600/787878/666" alt="">
                                    <div class="cat-overlay">
                                        <a class="popup-gallery" href="https://dummyimage.com/600x600/787878/666" title=""><span class="fa fa-search-plus" aria-hidden="true"></span></a>
                                        <div class="cat-overlay-text">
                                            <h4>Cocktail</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mix wedding">
                                <div class="cat-porfolio-section">
                                    <img src="https://dummyimage.com/600x600/787878/666" alt="">
                                    <div class="cat-overlay">
                                        <a class="popup-gallery" href="https://dummyimage.com/600x600/787878/666" title=""><span class="fa fa-search-plus" aria-hidden="true"></span></a>
                                        <div class="cat-overlay-text">
                                            <h4>Wedding</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mix wedding buffet">
                                <div class="cat-porfolio-section">
                                    <img src="https://dummyimage.com/600x600/787878/666" alt="">
                                    <div class="cat-overlay">
                                        <a class="popup-gallery" href="https://dummyimage.com/600x600/787878/666" title=""><span class="fa fa-search-plus" aria-hidden="true"></span></a>
                                        <div class="cat-overlay-text">
                                            <h4>Buffet</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mix wedding">
                                <div class="cat-porfolio-section">
                                    <img src="https://dummyimage.com/600x600/787878/666" alt="">
                                    <div class="cat-overlay">
                                        <a class="popup-gallery" href="https://dummyimage.com/600x600/787878/666" title=""><span class="fa fa-search-plus" aria-hidden="true"></span></a>
                                        <div class="cat-overlay-text">
                                            <h4>Wedding</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mix wedding buffet">
                                <div class="cat-porfolio-section">
                                    <img src="https://dummyimage.com/600x600/787878/666" alt="">
                                    <div class="cat-overlay">
                                        <a class="popup-gallery" href="https://dummyimage.com/600x600/787878/666" title=""><span class="fa fa-search-plus" aria-hidden="true"></span></a>
                                        <div class="cat-overlay-text">
                                            <h4>Buffet</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
