<div class="cat-main-wrapper">

    <!-- Page Title Section -->
    <section class="cat-page-title-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="cat-page-title">
                        <h1>Menus</h1>
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                Menus
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Menus -->
    <section class="cat-menu-wrapper cat-section-spacer">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="cat-menu-item-section">
                        <div class="cat-menu-wrapper cat-nav-tabs">
                            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-tabA-tab" data-bs-toggle="pill" data-bs-target="#pills-tabA" type="button" role="tab" aria-controls="pills-tabA" aria-selected="true">Starter</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-tabB-tab" data-bs-toggle="pill" data-bs-target="#pills-tabB" type="button" role="tab" aria-controls="pills-tabB" aria-selected="false">Main Course </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-tabC-tab" data-bs-toggle="pill" data-bs-target="#pills-tabC" type="button" role="tab" aria-controls="pills-tabC" aria-selected="false">Drinks</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-tabD-tab" data-bs-toggle="pill" data-bs-target="#pills-tabD" type="button" role="tab" aria-controls="pills-tabD" aria-selected="false">Offers</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-tabD-tab" data-bs-toggle="pill" data-bs-target="#pills-tabD" type="button" role="tab" aria-controls="pills-tabD" aria-selected="false">Our Special</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-tabA" role="tabpanel" aria-labelledby="pills-tabA-tab">
                                    <div class="cat-menu-holder">
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                <div class="cat-menu-section">
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Paneer</h4>
                                                                <span class="cat-price">$70</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Sweet Potato</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Sabudana Tikki</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Crispy</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Pizza</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                <div class="cat-menu-section">
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Bacon</h4>
                                                                <span class="cat-price">$70</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Chicken</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Blooming</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Sweet</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Argentinian</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-tabB" role="tabpanel" aria-labelledby="pills-tabB-tab">
                                    <div class="cat-menu-holder">
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                <div class="cat-menu-section">
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Paneer</h4>
                                                                <span class="cat-price">$70</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Sweet Potato</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Sabudana Tikki</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Crispy</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Pizza</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                <div class="cat-menu-section">
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Bacon</h4>
                                                                <span class="cat-price">$70</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Chicken</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Blooming</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Sweet</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Argentinian</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-tabC" role="tabpanel" aria-labelledby="pills-tabC-tab">
                                    <div class="cat-menu-holder">
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                <div class="cat-menu-section">
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Lemon</h4>
                                                                <span class="cat-price">$70</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Water Drink</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Salty lemon</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Crispy water</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Juice</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                <div class="cat-menu-section">
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Orange</h4>
                                                                <span class="cat-price">$70</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Apple Juice</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Banana</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Sweet Water</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Hot Coffee</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-tabD" role="tabpanel" aria-labelledby="pills-tabD-tab">
                                    <div class="cat-menu-holder">
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                <div class="cat-menu-section">
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Paneer</h4>
                                                                <span class="cat-price">$70</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Sweet Potato</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Sabudana Tikki</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Crispy</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Pizza</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                <div class="cat-menu-section">
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Bacon</h4>
                                                                <span class="cat-price">$70</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Chicken</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Blooming</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Sweet</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Argentinian</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-tabE" role="tabpanel" aria-labelledby="pills-tabE-tab">
                                    <div class="cat-menu-holder">
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                <div class="cat-menu-section">
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Paneer</h4>
                                                                <span class="cat-price">$70</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Sweet Potato</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Sabudana Tikki</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Crispy</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Pizza</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                <div class="cat-menu-section">
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Bacon</h4>
                                                                <span class="cat-price">$70</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Chicken</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Blooming</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Sweet</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cat-pricing-list">
                                                        <span class="cat-pri-icon">
                                                            <img src="https://dummyimage.com/100x100/787878/666" alt="">
                                                        </span>
                                                        <div class="cat-price-info">
                                                            <div class="cat-pricing-title">
                                                                <h4>Argentinian</h4>
                                                                <span class="cat-price">$20</span>
                                                            </div>
                                                            <p>Consectetur adipiscing elit sed dwso eiusmod tempor incididunt ut labore.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>