<div class="cat-main-wrapper">

    <!-- Page Title Section -->
    <section class="cat-page-title-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="cat-page-title">
                        <h1>Contact Us</h1>
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                Contact Us
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Form Section  -->
    <section class="cat-contact-wrapper cat-section-spacer-equal">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="cat-contact-section">
                        <form action="">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <div class="cat-input-wrap">
                                        <input type="text" name="" id="" placeholder="Enter your Name">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <div class="cat-input-wrap">
                                        <input type="text" name="" id="" placeholder="Enter your Email">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <div class="cat-input-wrap">
                                        <input type="text" name="" id="" placeholder="Enter your Subject">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <div class="cat-input-wrap">
                                        <input type="text" name="" id="" placeholder="Enter your Number">
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="cat-input-wrap">
                                        <textarea name="" id="" placeholder="Enter your Number"></textarea>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <a href="javascript:void(0);" class="cat-btn">
                                        <span>Submit</span>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Info Section -->
    <section class="cat-service-wrapper cat-section-spacer has-bg relative">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="cat-service-section">
                        <div class="cat-service-inner">
                            <div class="cat-service-img">
                                <img src="~/Websitelib/assets/images/main/call.svg" alt="">
                            </div>
                            <div class="cat-service-info">
                                <h4>Call Us</h4>
                                <p>
                                    + 1800-1245-1245
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="cat-service-section">
                        <div class="cat-service-inner">
                            <div class="cat-service-img">
                                <img src="~/Websitelib/assets/images/main/mail.svg" alt="">
                            </div>
                            <div class="cat-service-info">
                                <h4>Mail Us</h4>
                                <p>
                                    storemain@domain.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="cat-service-section">
                        <div class="cat-service-inner">
                            <div class="cat-service-img">
                                <img src="~/Websitelib/assets/images/main/location.svg" alt="">
                            </div>
                            <div class="cat-service-info">
                                <h4>Location</h4>
                                <p>
                                    Victoria Island Lagos Nigeria
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Google Map Section  -->
    <section class="cat-map-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="cat-map-section">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7929.383324299389!2d3.426551!3d6.433638!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf52931db51f1%3A0xebccb6fc0bd61e40!2s19%20Engineering%20Close%2C%20Victoria%20Island%2C%20Lagos%2C%20Nigeria!5e0!3m2!1sen!2sin!4v1623326034824!5m2!1sen!2sin"
                            width="100%" height="600" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </section>

</div>